<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <h1>Check out these cool places</h1>

  <ion-list>
<!-- place 1   -->
    <ion-item>
      <ion-thumbnail item-start>
        <img src= "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSEp-JMWSf57H5S4YbBCL_p6qB6NlQqe2ZSVQ&usqp=CAU">
      
       </ion-thumbnail> 

      <h2>Temple Bar</h2>
      <p >Addres: 47-48, Temple Bar, Dublin 2, D02 N725</p>   
    
    </ion-item>
<!-- place 2   -->
    <ion-item>
      <ion-thumbnail item-start>
       <img src= "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcScCeuXaSPKThgFfnxI_TWKi1M0FlmzDqW1kw&usqp=CAU">
      
      </ion-thumbnail> 
    
      <h2>Guinnes Storehouse</h2>
      <p >Addres: St. James's Gate, Dublin 8, D08 VF8H</p>   
    
    </ion-item>
<!-- place 3   -->
    <ion-item>
      <ion-thumbnail item-start>
        <img src= "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRefZlsgo0-VKghheS6LwQCaYvw4iL8yUUQ_A&usqp=CAU">
      </ion-thumbnail> 
      
      <h2>Dublin Castle</h2>
      <p >Addres: Spanish Parade, Galway, H91 CX5P</p>   
    
    </ion-item>
<!-- place 4   -->
    <ion-item>
      <ion-thumbnail item-start>
       <img src= "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRMOrFIBiPJ4ocDAu1cJASDNOsuIV_sqc3mAA&usqp=CAU">
      
     </ion-thumbnail> 
    
      <h2>Phoenix Park</h2>
      <p >Addres: Dublin 8</p>   
    
    </ion-item>
<!-- Ireland Stamp -->

    <ion-item>
      <img src= "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSWaOGrGmrzjkm4UAH-d4yNx8jSxUWoylXK8w&usqp=CAU">
    </ion-item>

  </ion-list>
  



</ion-content>
