<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;">Cork</ion-title>
<!-- back button -->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 style="text-align: center;">Things to see in Cork</h1>
  <img src= "https://i.guim.co.uk/img/media/5fb7c5a162486b2e95d7139affb897b0394bbbbc/0_555_5586_3353/master/5586.jpg?width=465&quality=45&auto=format&fit=max&dpr=2&s=f0827247d62bba99378b3e5cc534a204">
<!-- links to ion-list -->
  <app-places-cork style="text-align: center;" ></app-places-cork>
 
</ion-content>
