<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;">Galway</ion-title>
    <!-- back button -->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 style="text-align: center;">Things to see in Galway </h1>
 
  <img src= "https://media.gettyimages.com/photos/beautiful-panoramic-sunset-view-over-the-claddagh-galway-in-galway-picture-id1045814682">

  <!-- links to ion-list -->
  <app-places-galway style="text-align: center;" ></app-places-galway>
  
  
  
</ion-content>
