<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Check out these cool places</h1>

  <ion-list>
<!-- place 1   -->
    <ion-item>
      <ion-thumbnail item-start>
        <img src= "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT5JsuN5jrSW7ytzLZP2e6BEAy6RP2cVLmpkw&usqp=CAU">
      
       </ion-thumbnail> 

      <h2>King Johns Castle</h2>
      <p >Addres: Nicholas St, Limerick</p>   
    
    </ion-item>
<!-- place 2   -->
    <ion-item>
      <ion-thumbnail item-start>
       <img src= "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT_I6Kpyn5Kkoua64K02G3aC9ouJoM6-ELuYQ&usqp=CAU">
      
      </ion-thumbnail> 
    
      <h2>Limerick City Gallery of Art</h2>
      <p >Addres: Carnegie Building, Pery Square, Limerick, V94 E67F</p>   
    
    </ion-item>
<!-- place 3   -->
    <ion-item>
      <ion-thumbnail item-start>
        <img src= "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR_N-CPMtY9KgXlXeTkoL_0A7yCAqQMEbedbw&usqp=CAU">
      
      </ion-thumbnail> 
      
      <h2>The Limerick Museum</h2>
      <p >Addres: Henry St, Limerick</p>   
    
    </ion-item>
<!-- place 4   -->
    <ion-item>
      <ion-thumbnail item-start>
       <img src= "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTigscr-3-xFfiOFdnqyP32Wtd0YwUvvBMZRQ&usqp=CAU">
      
     </ion-thumbnail> 
    
      <h2>Saint Mary's Cathedral</h2>
      <p >Addres: Bridge St, Limerick, V94 E068</p>   
    
    </ion-item>
<!-- Ireland Stamp -->

    <ion-item>
      <img src= "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSWaOGrGmrzjkm4UAH-d4yNx8jSxUWoylXK8w&usqp=CAU">
    </ion-item>

  </ion-list>
 

</ion-content>
