<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;">Dublin</ion-title>
    <!-- back button -->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 style="text-align: center;">Things to see in Dublin</h1>
  <img src= "https://media.gettyimages.com/photos/dublin-city-centre-liffey-hapenny-bridge-picture-id169726918">

<!-- links to ion-list -->
  <app-places-dublin style="text-align: center;" ></app-places-dublin>
</ion-content>
