<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;">Limerick</ion-title>
    <!-- back button -->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 style="text-align: center;">Things to see in Limerick</h1>
  
  <img src = "https://www.limerick.ie/sites/default/files/styles/hero_image/public/media/images/2020-07/limerick-144751-810x456.jpg?itok=H3N2gIme">
<!-- links to ion-list -->
  <app-places-limerick style="text-align: center;" ></app-places-limerick>
</ion-content>
