<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Check out these cool places</h1>

  <ion-list>
<!-- place 1   -->
    <ion-item>
      <ion-thumbnail item-start>
        <img src= "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQm66M1-SRDgdro-3lclCdm7JaDj8MOLY3_TQ&usqp=CAU">
      
       </ion-thumbnail> 

      <h2>Blarney Castle and Garden</h2>
      <p >Addres: Monacnapa, Blarney, Co. Cork</p>   
    
    </ion-item>
<!-- place 2  -->
    <ion-item>
      <ion-thumbnail item-start>
       <img src= "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSmIXTYX5B4tVX0cm15MAOBigjuAXFoWp46Ng&usqp=CAU">
      
      </ion-thumbnail> 
    
      <h2>The English Market</h2>
      <p >Addres: Princes St, Centre, Cork</p>   

    </ion-item>
<!-- place 3   -->
    <ion-item>
      <ion-thumbnail item-start>
        <img src= "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR1CGObvvtBIOI8PphLfPNq6JgI0BxOfMVN0A&usqp=CAU">
      
      </ion-thumbnail> 
      
      <h2>Blackrock Castle Observatory</h2>
      <p >Addres: Castle Rd, Blackrock, Cork</p>   
   
    </ion-item>
<!-- place 4   --> 
    <ion-item>
      <ion-thumbnail item-start>
       <img src= "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTMzbH8AcAZun9aqynw1AnB3itZ0jhQYHLSSQ&usqp=CAU">
      
     </ion-thumbnail> 
    
      <h2>Butter Museum </h2>
      <p >Addres: O'Connell Square, Shandon, Cork</p>   
    
    </ion-item>
<!-- Ireland Stamp -->
    <ion-item>
      <img src= "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSWaOGrGmrzjkm4UAH-d4yNx8jSxUWoylXK8w&usqp=CAU">
    </ion-item>

  </ion-list>
  



</ion-content>
